.app-body{
    background-color: #dadbd3;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 1px;
}

.ui-body{
 display: flex;
 background-color: #ededed;
 margin-top: -50px;
 height: 90vh;
 width: 90vw;
 box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.side-bar{
 flex: 0.35;
 display: flex;
 flex-direction: column;

}
.sidebar-header{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.sidebar-headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar-headerRight > .muiSVGIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar-search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}
.sidebar-searchContainer{
    display:flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 15px;
}
.sidebar-searchContainer > input{
    border: none;
    margin-left: 10px; 
}
.sidebar-searchContainer > .muiSVGIcon-root{
    color: gray;
    padding: 10px;
}
.sidebar-chats{
    background-color: white;
    flex: 1;
    overflow: scroll;
}
.sidebar-chat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;

}
.sidebar-chat:hover {
    background-color: #ebebeb;
}
.sidebarchat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarchat__info {
    margin-left: 10px;
}
.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
    
}
.chat-header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.chatheader-info{
    flex: 1;
    padding-left: 20px;
}
.chatheader-info >h3{
    margin-bottom: 3px;
    font-weight: 500;

}
.chatheader-info >p{
    color: gray;
}
.chatheader-right{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
.chat-body{
    background-image: 
    url("https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: repeat;
    background-position: center;
    padding: 160px;
}
.chat-message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.chat-name{
    position: absolute;
    top:0px;
    font-weight: 800;
    font-size: xx-small;
}
.chat-timestamp{
    top:0px;
    font-size: xx-small;
}
.chat-receiver{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px soild lightgray;
}
.chat-footer > form{
    flex: 1;
    display: flex;
    
}
.chat-footer > form > input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}