<html>
  <head>
    <meta charset="utf-8" />
    {{!-- <title>Hi there, a post as been uploaded by : {{name}}</title> --}}
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center">
      {{! <img
        style="width: 120px; height: 120px; border-radius: 50%"
        src="https://res.cloudinary.com/dp6ofrbni/image/upload/v1681933499/WhatsApp_Image_2023-04-17_at_7.41.55_PM_eom1cl.jpg"
        alt="Nosh Application Icon"
      /> }}

      <div style="margin-left: 10px">
        <p style="color: #28104E; font-size: 25px">Interact React Impact</p>

      </div>
    </div>

    <p>Hi there, {{name}}</p>
    <p>category:{{category}}</p>
    {{! 
    <p>Thank you for creating an account on Nosh using your email address.</p>

    <p>
      We are excited to have you as a part of our community! You can now start
      exploring our website and discovering new and delicious recipes.
    </p>

    <p>
      If you have any questions or feedback, please don't hesitate to contact
      us. We're always happy to hear from our users.
    </p> }}
    <p>Follow this link to view the post : <a href="http://localhost:3000">IRI portal</a></p>
    <p>
      Thank you again for joining IRI. We hope you enjoy your experience with
      us!
    </p>

    <p>Thanks,</p>
    <p>The IRI Team</p>
  </body>
</html>