h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}
.loginpage,
.signup {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}


.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.notNav{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
     background-image: url("img/background.jpg");
  /* opacity: 0.75; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.signup > .notNav >.auth-wrapper > .auth-inner{
   width: 450px;
   /* margin: auto 0; */
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 55px 20px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.googleBtn {
  text-transform: inherit !important;
  align-items: center;
  height: 45px;
  width: 200px;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: 500;
  background-color: azure;
}

.googleBtn:hover {
  background-color: #f8f8f8;
}
.my-nav-item {
  color: black;
}