<html>
  <head>
    <meta charset="utf-8" />
    <title>you got a message</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center">
        <img
        style="width: 50px; height: 50px; border-radius: 50%"
        src="https://res.cloudinary.com/dkttxsvg8/image/upload/v1682388587/logo1_pvdpwa.jpg"
        alt="IRI icon"
      /> 

      <div style="margin-left: 10px">
        <p style="color: #28104E; font-size: 20px">Interact React Impact</p>

      </div>
    </div>

    <p><span style="font-weight:bold;font-size:16px">{{data.sender}}</span> have sent you a message, saying</p>
    <p><span style="font-weight:bold;font-size:16px">{{data.text}}</span></p>
    {{!-- <p>category:{{category}}</p> --}}

    <p>Follow this link to view the message : <a href="http://localhost:3000">IRI portal</a></p>
    <p>
      Thank you again for joining IRI. We hope you enjoy your experience with
      us!
    </p>

    <p>Thanks,</p>
    <p>The IRI Team</p>
  </body>
</html>